*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(236, 193, 200);
    div{
        width: 350px;
        img{
            width: 100%;
            cursor: pointer;
        }
    }
}
.shake{
    animation: shake 1s infinite;
}
@keyframes shake {
  0% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}